<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Formulario Colaborador</title>
</head>
<body>
    <div layout:fragment="conteudo">
        <h1 class="title">Cadastrar</h1>
        <hr>
        <form method="post">
            <div class="alinhamento">
                <label for="email" class="container__label">Email</label>
                <input id="email" name="email" type="email" placeholder="email@techfive.com.br" class="container__input">
            </div>
            <div class="alinhamento">
                <label for="senha" class="container__label">Senha</label>
                <input id="senha" name="senha" type="password" class="container__input">
            </div>
            <div class="alinhamento">
                <label for="senha_repetir" class="container__label">Repetir Senha</label>
                <input id="senha_repetir" name="senha_repetir" type="password" class="container__input">
            </div>
            <div class="alinhamento">
                <label for="nome" class="container__label">Nome</label>
                <input id="nome" name="nome" type="text" class="container__input">
            </div>
            <div class="alinhamento">
                <input type="submit" value="Cadastrar" class="button__form">
            </div>
        </form>
    </div>
</body>
</html>