<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Consulta Empresa</title>
</head>
<body>
    <div layout:fragment="conteudo">
        <h1 class="title">EMPRESAS</h1>
        <hr>
        <table>
            <thead>
                <tr>
                    <th>NOME</th>
                    <th>CNPJ</th>
                    <th>LOGRADOURO</th>
                    <th>NÚMERO</th>
                    <th>COMPLEMENTO</th>
                    <th>BAIRRO</th>
                    <th>CIDADE</th>
                    <th>UF</th>
                    <th>CEP</th>
                    <th>RESPONSÁVEL</th>
                    <th>CONTATO</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="empresa : ${consultar}">
                    <td th:text="${empresa.nome}"></td>
                    <td th:text="${empresa.cnpj}"></td>
                    <td th:text="${empresa.endereco.logradouro}"></td>
                    <td th:text="${empresa.endereco.numero}"></td>
                    <td th:text="${empresa.endereco.complemento}"></td>
                    <td th:text="${empresa.endereco.bairro}"></td>
                    <td th:text="${empresa.endereco.cidade}"></td>
                    <td th:text="${empresa.endereco.uf}"></td>
                    <td th:text="${empresa.endereco.cep}"></td>
                    <td th:text="${empresa.responsavel.nomeResponsavel}"></td>
                    <td th:text="${empresa.responsavel.telefone}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>