<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Menu Cadastrar</title>
</head>
<body>
    <div layout:fragment="conteudo">
        <h1 class="title">CADASTRAR</h1>
        <hr>
        <div>
            <div class="alinhamento">
                <div class="column">
                    <img th:src="@{/css/image/cracha.png}" alt="Cadastrar Colaborador" class="img"/>
                    <a th:href="@{/usuario/cadastrar}" type="button" class="button">Colaborador</a>
                </div>
                <div class="column">
                    <img th:src="@{/css/image/empresa.png}" alt="Cadastrar Empresa" class="img"/>
                    <a th:href="@{/empresa}" type="button" class="button">Empresa</a>
                </div>
            </div>
            <div class="alinhamento">
                <div class="column">
                    <img th:src="@{/css/image/registro_frota.png}" alt="Cadastrar Frota" class="img"/>
                    <a href="#" type="button" class="button">Frota</a>
                </div>
                <div class="column">
                    <img th:src="@{/css/image/transportadora.png}" alt="Cadastrar Transportadora" class="img"/>
                    <a href="#" type="button" class="button">Caminhão</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>